if SHIELD_GOSSIEKEYDACTYLMANUALPHA001_LEFT

config ZMK_KEYBOARD_NAME
    default "GKDMA001"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_GOSSIEKEYDACTYLMANUALPHA001_LEFT || SHIELD_GOSSIEKEYDACTYLMANUALPHA001_RIGHT

config ZMK_SPLIT
    default y

endif
