# SPDX-License-Identifier: MIT

config SHIELD_GOSSIEKEYDACTYLMANUALPHA001_LEFT
    bool "GossieKeyDactylManuAlpha001 Left"

config SHIELD_GOSSIEKEYDACTYLMANUALPHA001_RIGHT
    bool "GossieKeyDactylManuAlpha001 Right"
